/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-motion";
body {
  @apply font-sans;
}

.mat-mdc-icon-button {
  line-height: normal;
}

.btn-edit {
  @apply !bg-blue-500 hover:!bg-blue-700 !text-white transition-all;
}
.btn-delete {
  @apply !bg-red-600 hover:!bg-red-700 !text-white transition-all;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, rgb(99 102 241) 0%, rgb(147 51 234) 100%);
  border-radius: 4px;
}
