<div class="motion-duration-300 fixed flex justify-center items-center h-full w-full bg-black/30 inset-0 z-50"
     [ngClass]="{
    'motion-opacity-in-0': !isClosing,
    'motion-opacity-out-0': isClosing
  }"
>
  <div class="motion-duration-300 bg-neutral-800 text-white p-5 rounded-xl h-auto w-200"
       [ngClass]="{
      'motion-translate-y-in-50 motion-opacity-in-0 motion-scale-in-10': !isClosing,
      'motion-translate-y-out-50 motion-opacity-out-0 motion-scale-out-90': isClosing
    }"
  >
    <div class="flex justify-between items-center mb-3">
      <h1 class="font-semibold text-xl">{{ isEdit? 'Update Order':'Add New Order' }}</h1>
      <button matIconButton (click)="closeModal()" class="!text-white"><mat-icon fontIcon="close"></mat-icon></button>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-2">
        <h1 class="text-md font-semibold mb-1">Select User</h1>
        <mat-form-field class="w-full">
          <mat-label>Choose an option</mat-label>
          <mat-select [(ngModel)]="orderData.userId" name="userId">
            @for (u of user; track u._id) {
              <mat-option [value]="u._id">{{ u.username }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <h1 class="text-md font-semibold mb-1">Select Product</h1>
        <mat-form-field class="w-full">
          <mat-label>Choose an option</mat-label>
          <mat-select [(ngModel)]="orderData.productId" name="productId">
            @for (p of product; track p._id) {
              <mat-option [value]="p._id">{{ p.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <h1 class="text-md font-semibold mb-1">Enter QTY</h1>
        <mat-form-field class="w-full">
          <mat-label>Enter QTY</mat-label>
          <input matInput name="quantity" [(ngModel)]="orderData.quantity">
        </mat-form-field>

      </div>
      <div class="flex justify-center mt-3">
        <button type="submit" mat-flat-button class="w-full">
          {{ isEdit? 'Update':'Save' }}
        </button>
      </div>
    </form>
  </div>
</div>
